aiobotocore==2.21.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aioitertools==0.12.0
aiosignal==1.3.2
async-timeout==5.0.1
attrs==25.3.0
botocore==1.37.1
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
decorator==5.2.1
dlt==1.9.0
dotenv==0.9.9
frozenlist==1.5.0
fsspec==2025.3.0
gcsfs==2025.3.0
gitdb==4.0.12
gitpython==3.1.44
giturlparse==0.12.0
google-api-core==2.24.2
google-auth==2.38.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.69.2
hexbytes==1.3.0
humanize==4.12.2
idna==3.10
jmespath==1.0.1
jsonpath-ng==1.7.0
makefun==1.15.6
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.2.0
numpy==2.2.4
oauthlib==3.2.2
orjson==3.10.16
packaging==24.2
pathvalidate==3.2.3
pendulum==3.0.0
pluggy==1.5.0
ply==3.11
propcache==0.3.1
proto-plus==1.26.1
protobuf==6.30.2
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
pyyaml==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
requirements-parser==0.11.0
rich==13.9.4
rich-argparse==1.7.0
rsa==4.9
s3fs==2025.3.0
semver==3.0.4
setuptools==78.1.0
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sqlglot==26.12.0
tenacity==9.0.0
time-machine==2.16.0
tomlkit==0.13.2
types-setuptools==78.1.0.20250329
typing-extensions==4.13.0
tzdata==2025.2
urllib3==2.3.0
wrapt==1.17.2
yarl==1.18.3
